<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/head') %>
  </head>
  <body>
      
    <% if (typeof showGlobalHeader === "undefined" || showGlobalHeader !== false) { %>
      <%- include('../partials/header') %>
      <% } %>

      <main role="main">
       
        
        <%- body %>
      </main>
      
      <% if (typeof showGlobalFooter == "undefined" || showGlobalFooter !== false) { %>
       <footer>
        <p>@ 2026, CSE 340 App</p>
        </footer>
  
      <% } %>  
    

    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const navToggle = document.querySelector('.nav-toggle');
        const navLinks = document.querySelector('.nav-links');

        if (navToggle && navLinks) {
          navToggle.addEventListener('click', () => {
            const expanded = navToggle.getAttribute('aria-expanded') === 'true' || false;
            navToggle.setAttribute('aria-expanded', !expanded);
            navLinks.classList.toggle('show');
          });
        }
      });
    </script>
  </body>
</html>


