
  <h1 class="classification-heading"><%=title %></h1>
  <p class="classification-subheading">Showing vehicles for this classification.</p>

  <!-- Vehicle grid -->
   <section class="vehicle-grid">
    <%- grid %>
    </section>
 
