<main>
  <div class="management-box">
      <h1>Vehicle Management</h1>

      <!-- Flash Messages -->
      <% if (messages.error && messages.error.length) { %>
        <p style="color:red;"><%= messages.error[0] %></p>
      <% } %>
      <% if (messages.success && messages.success.length) { %>  
        <p style="color:green;"><%= messages.success[0] %></p>
      <% } %>

      <!-- Links to processes -->
      <div class="button-group">
        <a href="/inv/add-classification">Add New Classification</a>
        <a href="/inv/add-inventory">Add New Vehicle</a>
      </div>
    

    <!-- Plain Footer content  -->
      <p>© 2026, CSE 340 App<br>
      <a href="/error">Trigger Error</a></p>
</div>
</main>
